@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}


html {
  height: 100%;
  background-color: #f2f2f2;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans",sans-serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 22px;
  background-color: #ffffff;
  color: #000000;
}
.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  padding: 8px 34px;
}
.button__brown {
  background-color: #756157;
}
.button__blue {
  background-color: #82B3D3;
}
.button__favorite {
  background-color: #7DB54F;
}
.mailing-button {
  line-height: 36px;
  padding: 8px 50px;
}
.button-reset {
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-cotainer {
  flex-grow: 1;
  margin: 0;
}

.header-page {
  min-height: 64px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.header-page ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation {
  display: grid;
  grid-template-columns: 140px 2fr 1fr;
  column-gap: 30px;
  width: 1060px;
  margin: 0 auto;
}

.header-logo {
  width: 140px;
  margin-bottom: -6px;
  z-index: 10;
}
.logo {
  display: block;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 2;
  width: 340px;
  margin-right: auto;
}
.navigation-item {
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: inherit;
  color: #000000;
  text-decoration: none;
}

.inner-navigation-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 12px;
}
.inner-navigation-item {
}
.inner-navigation-link {
  font-family: inherit;
  text-decoration: none;
}
.search {
  display: block;
  min-width: 18px;
  min-height: 18px;
  padding: 8px;
}
.search::after {
  content: url("../images/icons/search.svg");
}
.favorite {
  display: block;
  min-width: 18px;
  min-height: 18px;
  padding: 18px 12px;
  position: relative;
}
.favorite-counter {
  position: absolute;
  top: 5px;
  right: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  background-color: #7DB54F;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}
.favorite::after {
  content: url("../images/icons/heart.svg");
}

.main-page {
  margin: 0;
}

.welcome-block {
  background-image: url("../images/mask.svg"), url("../images/index-background.jpg");
  background-color: #82B3D3;
  background-size: 100% auto, cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  margin-bottom: 64px;
  padding-top: 51px;
  padding-bottom: 84px;
}
.welcome-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 64px;
}

.page-title {
  margin: 0;
  padding: 0 290px;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
.page-description {
  margin: 0;
  margin-bottom: 69px;
  font-size: 20px;
  color: #333333;
  text-align: center;
}

.advantages {
  margin-bottom: 64px;
}
.advantages ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
}
.advantages-item {
  display: flex;
  background-color: #82B3D3;
  text-align: center;
}
.advantages-item h3::after{
  border-bottom: 2px solid#FFFFFF4D;
}
.advantages-content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 230px;
  padding: 85px;
}
.advantages-item:nth-child(2) {
  background-color: #ffffff;
}
.advantages-title {
  margin: 0 auto;
  margin-bottom: 62px;
  padding: 0 27px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.advantages-title::after {
  content: "";
  display: block;
  width: 60px;
  margin: auto;
  margin-top: 30px;
  border-bottom: 2px solid #0000004D;
}
.advantages-description {
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
}
.advantages-item:nth-child(3) .advantages-img {
  order: -1;
}
.advantages-img {}

.advantages-inner-list {
  display: flex;
  justify-content: space-between;
}
.advantages-inner-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 230px;
  padding: 102px 85px;
}
.advantages-inner-item .advantages-border-line {
  border-bottom: 2px solid #0000004D;
}
.advantages-inner-item:nth-child(2) {
  background-color: #83B3D333;
}
.advantages-inner-item .advantages-title {
  color: #000000;
}
.advantages-inner-item .advantages-description  {
  color: #333333;
}


.service {
  margin-bottom: 96px;
}
.service-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 230px;
  padding: 102px 85px;
  background-color: #83B3D31F;
  text-align: center;
}
.service-item:nth-child(2) {
  background-color: #ffffff;
}

.service-title {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 27px;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.service-description {
  margin: 0;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.search-hotel {
  text-align: center;
  margin-bottom: 96px;
}
.search-hotel .page-description {
  margin: 0 304px;
  margin-bottom: 54px;
}
.search-hotel-link {
  padding: 8px 50px;
  font-family: inherit;
  text-decoration: none;
}

.mailing {
  background-image: url("../images/subscribe.jpg");
  background-color: #82B3D3;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.mailing .page-title {
  padding-top: 96px;
  color: #ffffff;
}
.mailing .page-description {
  margin: 0 364px;
  margin-bottom: 54px;
  color: #ffffff;
}
.mailing-form {
  width: 684px;
  margin: 0 auto;
  padding-bottom: 104px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mailing-input {
  width: 452px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color:#000000;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  padding: 14px 20px;
}

.footer-page {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.social-list {
  width: 142px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.social-item {
  width: 47px;
  height: 40px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.social-item:nth-child(3n) {
  margin-right: 0;
}
.social-link {

}

.footer-address {
  width: 720px;
  padding: 40px 41px 30px;
}
.footer-address a {
  font-family: inherit;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
}
.footer-address a:hover, .footer-address a:focus {
  color: #756157;
}
.footer-address a:active {
  color: #7561574D;
}
.developer-logo {
  width: 115px;
  min-height: 33px;
  margin: auto;
  background-image: url("../images/icons/developer-logo.svg");
  background-repeat: no-repeat;
}


.catalog-main {
  margin: 0;
}
.catalog-main-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.filters {
  padding: 70px;
  padding-top: 35px;
  margin-bottom: 56px;
  background-image: url("../images/filters.jpg");
  background-color: #82B3D3;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}
.filters-header {
  width: 1060px;
  margin: 0 auto;
}
.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}
.breadcrumbs-item {
  margin-right: 10px;
}
.breadcrumbs-item:nth-child(3n) {
  margin: 0;
}

.breadcrumbs-link {
  padding: 3px 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.filters-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1060px;
  margin: 0 auto;
}

.fieldset-group {
  width: 150px;
  border: none;
  padding: 0;
  margin: 0;
}
.filters-form ul {
  list-style: none;
}
.filters-label-group {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.filter-label {
  font-size: 18px;
  line-height: 23px;

}

.infrastructure {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.infrastructure-list {
  padding: 0;
  margin: 0;
}
.infrastructure-item {
  margin-bottom: 17px;
}
.infrastructure-checkbox {
  margin-right: 16px;
}

.type-house {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.type-house-list {
  padding: 0;
  margin: 0;
}
.type-house-item {
  margin-bottom: 17px;
}
.type-house-radio {
  margin-right: 16px;
}

.price {
  width: 288px;
  display: flex;
}
.price-min {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
  background-color: rgba(242, 242, 242, 1);
}
.price-min-label {
}
.price-max {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
  background-color: rgba(242, 242, 242, 1);
}
.price-max-label {}
.price-range-toggle {}
.toggle-min {}
.toggle-max {}

.filters-buttons {
  width: 190px;
  align-self: center;
}

.catalog-sorting {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 46px;
}
.catalog-sorting-label {
  width: 338px;
  margin-right: auto;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.catalog-sorting-select{
  width: 288px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-family: inherit;
  color: #333333;
}
.catalog-sorting-item {
  color: inherit;
  font-size: 18px;
  line-height: 21px;
}

.catalog-sorting-view-list {}
.catalog-sorting-view-item {
  list-style: none;
}
.catalog-sorting-link {}


.catalog {
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 40px;
}
.catalog ul {
  list-style: none;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  gap: 20px;

}
.catalog-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  padding: 20px;
  width: 340px;
}

.catalog-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}
.catalog-image {
  order: -1;
  margin-bottom: 16px;
}

.catalog-descriprion {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  margin-bottom: 16px;
}
.catalog-type-house {}
.catalog-price {
  font-weight: 400;
}
.catalog-buttons-block {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.catalog-buttons-block .button {
  padding: 8px 26px;
}
.catalog-rating-block {
  margin-bottom: 20px;
}
.catalog-stars-list {
  display: flex;
}
.catalog-stars-item {}
.catalog-rating-card {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: #F2F2F2;
}

.nav-pagination {
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.nav-pagination-list {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-pagination-item {

}


.nav-pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  padding: 15px;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  box-sizing: border-box;
  background-color: #82B3D3;
}
.more-page {
  background-color: transparent;
  color: #000000;
}
.active-link {
  background-color: #F2F2F2;
  color: #000000;
}
.catalog-mailing {}
