@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}


html {
  height: 100%;
  background-color: #f2f2f2;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans",sans-serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 22px;
  background-color: #ffffff;
  color: #000000;
}
.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  appearance: none;
  padding: 8px 34px;
  cursor: pointer;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.button__brown {
  background-color: #756157;
}
.button__brown:not(:disabled):focus {
  background-color: #615048;
}
.button__brown:not(:disabled):hover {
  background-color: #615048;
  outline: none;
}
.button__brown:not(:disabled):active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}
.button__blue {
  background-color: #82B3D3;
}
.button__blue:not(:disabled):focus {
  background-color: #68A2CA;
}
.button__blue:not(:disabled):hover {
  background-color: #68A2CA;
  outline: none;
}
.button__blue:not(:disabled):active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}
.button__favorite {
  background-color: #7DB54F;
}
.button__favorite:not(:disabled):focus {
  background-color: #6C9E42;
}
.button__favorite:not(:disabled):hover {
  outline: none;
  background-color: #6C9E42;
}
.button__favorite:not(:disabled):active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}
.mailing-button {
  line-height: 36px;
  padding: 8px 50px;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.button-reset {
  background-color: transparent;
}
.button-reset:focus {
  border: 3px solid rgba(131, 179, 211, 1);
}
.button-reset:hover {
  color: rgba(255, 255, 255, 0.7);
  outline: none;
}

.button:disabled {
  background-color: #E5E5E5;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-cotainer {
  flex-grow: 1;
  margin: 0;
}

.header-page {
  min-height: 64px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.header-page ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  width: 1060px;
  margin: 0 auto;
}

.header-logo {
  width: 140px;
  margin-bottom: -6px;
  position: relative;
  align-self: flex-start;
  z-index: 2;
}
.logo {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 2;
  width: 340px;
  margin-right: auto;
}
.navigation-item {
  position: relative;
  box-sizing: border-box;
}
.navigation-link:not([href])::before {
  content: "";
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  margin-top: auto;
  border-bottom: 2px solid #756257;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: inherit;
  color: #000000;
  text-decoration: none;
}

.inner-navigation-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}
.inner-navigation-link {
  font-family: inherit;
  text-decoration: none;
  padding: 8px 12px;
}
.search {
  display: block;
  min-width: 18px;
  min-height: 18px;
}
.search::after {
  content: url("../images/icons/search.svg");
}
.favorite {
  display: block;
  min-width: 18px;
  min-height: 18px;
  position: relative;
}
.favorite-counter {
  position: absolute;
  top: -5px;
  right: 3px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  background-color: #7DB54F;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}
.favorite::after {
  content: url("../images/icons/heart.svg");
}

.inner-navigation-item .button {
  margin-left: 20px;
  padding: 8px 34px;
}

.main-page {
  margin: 0;
}

.welcome-block {
  background-image: url("../images/mask.svg"), url("../images/index-background.jpg");
  background-color: #82B3D3;
  background-size: 100% auto, cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  margin-bottom: 64px;
  padding-top: 51px;
  padding-bottom: 84px;
}
.welcome-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 64px;
}

.title-block {
  margin: 0 auto;
}
.advantages .title-block {
  margin-bottom: 90px;
  padding: 0 240px;
}
.page-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
.page-description {
  margin: 0;
  color: #333333;
  text-align: center;
  box-sizing: border-box;
}

.advantages {
  margin-bottom: 64px;
}
.advantages ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages-list {

}
.advantages-list > .advantages-item {
  display: flex;
  background-color: #82B3D3;
  text-align: center;
}
.advantages-list .advantages-title::after {
  content: "";
  display: block;
  width: 60px;
  margin: 30px auto;
  border-bottom: 2px solid#FFFFFF4D;
}
.advantages-content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 230px;
  padding: 85px;
}
.advantages-item:nth-child(2) {
  background-color: #ffffff;
}
.advantages-title {
  margin: 0 auto;
  padding: 0 27px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.advantages-inner-list .advantages-title::after {
  content: "";
  display: block;
  width: 60px;
  margin: 30px auto;
  border-bottom: 2px solid #0000004D;
}
.advantages-description {
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
}
.advantages-item:nth-child(3) .advantages-img {
  order: -1;
}
.advantages-img {
  max-width: 100%;
  object-fit: contain;
}

.advantages-inner-list {
  display: flex;
  justify-content: space-between;
}

.advantages-inner-list .advantages-item:nth-child(2) {
  background-color: #83B3D333;
}
.advantages-inner-list .advantages-title {
  color: #000000;
}
.advantages-inner-list .advantages-description  {
  color: #333333;
}


.service {
  margin-bottom: 96px;
}
.service .title-block {
  padding: 0 342px;
  margin-bottom: 64px;
}
.service .page-title {
  margin-bottom: 20px;
}
.service-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.service-item {
  background-color: #83B3D31F;
  text-align: center;
}
.service-item:nth-child(2) {
  background-color: #ffffff;
}
.service-item .advantages-content-block {
  background-repeat: no-repeat;
  background-position: center 81px;
}
.service-item:nth-child(1) .advantages-content-block {
  background-image: url("../images/icons/house.svg");
}
.service-item:nth-child(2) .advantages-content-block {
  background-image: url("../images/icons/food.svg");
}
.service-item:nth-child(3) .advantages-content-block {
  background-image: url("../images/icons/souvenirs.svg");
}

.service-title {
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 102px;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.service-description {
  margin: 0;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.search-hotel {
  text-align: center;
  margin-bottom: 96px;
}
.search-hotel .page-description {
  margin: 0 304px;
  margin-bottom: 54px;
}
.search-hotel-link {
  padding: 8px 50px;
  font-family: inherit;
  text-decoration: none;
}

.mailing {
  background-image: url("../images/subscribe.jpg");
  background-color: #82B3D3;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.mailing .title-block {
  padding: 96px 200px 54px;
  color: #ffffff;
}

.mailing .page-description {
  color: #ffffff;
}
.mailing-form {
  width: 684px;
  margin: 0 auto;
  padding-bottom: 104px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mailing-input {
  width: 452px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color:#000000;
  background-color: #F2F2F2;
  border: 0;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 14px 20px;
}

.footer-page {
  width: 1060px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 142px;
  list-style-type: none;
}
.social-item {
  width: 47px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-link .social-icon {
  fill: #83B3D3;
}
.social-link:focus .social-icon,
.social-link:hover .social-icon {
  fill: #68A2CA;
}
.social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}
.footer-address {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.footer-address a {
  display: flex;
  justify-content: center;
  font-family: inherit;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
}
.footer-address a:focus,
.footer-address a:hover {
  color: #756157;
  outline: none;
}
.footer-address a:active {
  color: rgba(117, 97, 87, 0.3);
}

.developer-link {
  position: relative;
  width: 115px;

}
.developer-link-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: #000000;
}
.developer-link:focus .developer-link-icon,
.developer-link:hover .developer-link-icon {
  fill: #756157;
  outline: none;
}
.developer-link:active .developer-link-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.catalog-main {
  margin: 0;
}
.catalog-main-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.filters {
  padding: 70px;
  padding-top: 35px;
  margin-bottom: 56px;
  background-image: url("../images/filters.jpg");
  background-color: #82B3D3;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}
.filters-header {
  width: 1060px;
  margin: 0 auto;
}
.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}
.breadcrumbs-item:not(:last-child) {
  margin-right: 28px;
}

.breadcrumbs-item:nth-child(1) .breadcrumbs-link::before{
  content: url("../images/icons/home.svg");
  position: relative;
  top: 3px;
  right:0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.breadcrumbs-item:not(:last-child)::after {
  content: url("../images/icons/arow.svg");
  width: 8px;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 10px;
  margin: auto;
}

.breadcrumbs-link {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.filters-form {
  display: grid;
  grid-template-columns: 370px 550px;
  column-gap: 140px;
  width: 1060px;
  margin: 0 auto;
}

.filters-point-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 70px;
}
.filters-input-block {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 70px;
}

.fieldset-group {
  width: 150px;
  border: none;
  padding: 0;
  margin: 0;
}
.filters-form ul {
  list-style: none;
}
.filters-label-group {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.filter-label {
  font-size: 18px;
  line-height: 23px;

}

.infrastructure {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.infrastructure-list {
  padding: 0;
  margin: 0;
}
.infrastructure-item {
  margin-bottom: 17px;
}
.infrastructure-checkbox {
  margin-right: 16px;
}

.type-house {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.type-house-list {
  padding: 0;
  margin: 0;
}
.type-house-item {
  margin-bottom: 17px;
}
.type-house-radio {
  margin-right: 16px;
}

.price {
  width: 288px;
  display: grid;
}
.price-min {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
  background-color: rgba(242, 242, 242, 1);
}
.price-min-label {
}
.price-max {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
  background-color: rgba(242, 242, 242, 1);
}
.price-max-label {}
.price-range-toggle {}
.toggle-min {}
.toggle-max {}

.filters-buttons {
  width: 190px;
  align-self: center;
}

.catalog-sorting {
  display: flex;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 46px;
}
.catalog-sorting-label {
  width: 338px;
  margin-right: auto;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.catalog-sorting-select{
  width: 288px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-family: inherit;
  color: #333333;
}
.catalog-sorting-item {
  color: inherit;
  font-size: 18px;
  line-height: 21px;
}

.catalog-sorting-view-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.catalog-sorting-view-item {

}

.catalog-sorting-view-item:not(:last-child) {
  margin-right: 8px;
}
.catalog-sorting-link {
  display: block;
  line-height: 0;
  padding: 17px 16px;
  box-sizing: border-box;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}
.catalog-sorting-active-link {
  border-color: #000000;
}
.catalog-sorting-link:focus {
  border-color: #68A2CA;
}
.catalog-sorting-link:hover {
  border-color: #000000;
}
.catalog-sorting-link:active {
  border-color: #000000;
}
.catalog-sorting-icon {
  fill: #000000;
  margin: 0;
}

.catalog {
}
.catalog ul {
  list-style: none;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  gap: 16px 20px;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 40px;
  margin-bottom: 40px;

}
.catalog-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  padding: 20px;
  width: 340px;
}

.catalog-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}
.catalog-image {
  order: -1;
  margin-bottom: 16px;
}

.catalog-descriprion {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  margin-top: auto;
  margin-bottom: 16px;
}
.catalog-type-house {}
.catalog-price {
  font-weight: 400;
}
.catalog-buttons-block {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.catalog-buttons-block .button {
  padding: 8px 26px;
}
.catalog-rating-block {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.catalog-stars-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
.catalog-stars-item {
  background-image: url("../images/icons/star.svg");
  width: 18px;
  height: 17px;
  margin-right: 6px;
}

.catalog-rating-card {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: #F2F2F2;
  padding: 8px 22px;
  border-radius: 4px;
}

.nav-pagination {
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.nav-pagination-list {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-pagination-item {
  background-color: #82B3D3;
  border-radius: 4px;
}
.nav-pagination-item:not(.active-page, .more-page):focus {
  background-color: #68A2CA;
}
.nav-pagination-item:not(.active-page, .more-page):hover {
  background-color: #68A2CA;
  outline: none;
}
.nav-pagination-item:not(.active-page, .more-page):active {
  background-color: #82B3D3;
}
.active-page  {
  background-color: #F2F2F2;
}

.nav-pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  padding: 15px;
  text-decoration: none;
  color: #ffffff;
  box-sizing: border-box;
}
.more-page {
  background-color: transparent;
  color: #000000;
}

.active-link {
  color: #000000;
}
.catalog-mailing {
  margin-top: 96px;
  margin-bottom: 104px;
}
.catalog-mailing .page-title {
  margin-bottom: 20px;
}
.catalog-mailing .page-description {
  margin-bottom: 54px;
}
